.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  width: 100%;
}
.active {
  background-color: #f5f5f5;
  color: #345;
  padding: 4px 6px; /* Ajusta el tamaño del fondo */
  border-radius: 8px;
}
